/* Make blocks 25px squares,
    Play field is 10 squares wide, 20 squares tall */

/* Color Palette:
    #284B63
    #3C6E71
    #D9D9D9
    #353535
    */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3c6e71;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
}

button {
  font-family: "Bungee", cursive;
  font-size: 25px;
  color: #284b63;
  width: 250px;
  height: 45px;
  cursor: pointer;
}

.game-space {
  outline: solid 0.5px #7a7a7a;
  width: 25px;
  height: 25px;
}

.hide-element {
  display: none;
}

.i-block {
  background-color: #04eaea;
}

.o-block {
  background-color: #eaeb05;
}
.t-block {
  background-color: #890cc7;
}
.s-block {
  background-color: #04d310;
}
.z-block {
  background-color: #cf0410;
}
.j-block {
  background-color: #0404dd;
}
.l-block {
  background-color: #ea9d05;
}
.flash {
  background-color: #fffafa;
}
.losing-Block {
  background-color: #f62681;
}

#content {
  background-color: #d9d9d9;
  height: 90vh;
  min-height: 600px;
  width: 70vw;
  min-width: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game-display {
  background-color: #353535;
  width: 250px;
  height: 500px;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
}

#game-display:focus {
  outline: 0;
}

#game-overlay {
  position: absolute;
  background: rgba(53, 53, 53, 0.6);
  width: 260px;
  height: 510px;
  z-index: 10;
}

#game-overlay button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header {
  font-family: "Bungee", cursive;
  font-size: 50px;
  padding: 5px;
}

#horizontal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

#score {
  width: 250px;
  border: 1px solid black;
}

#vertical-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media screen and (min-width: 1600px) {
  #header {
    margin: 50px;
  }
}
