/* Make blocks 25px squares,
    Play field is 10 squares wide, 20 squares tall */

    /* Color Palette:
    #284B63
    #3C6E71
    #D9D9D9
    #353535
    */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3C6E71;
}

.game-space {
    outline: solid .5px #7A7A7A;
    width: 25px;
    height: 25px;
}

.i-block {
    width: 100px;
    height: 25px;
    background-color: #04eaea;
}

.o-block {
    background-color: #eaeb05;
}
.t-block {
    background-color: #9d04ea;
}
.s-block {
    background-color: #04d310;
}
.z-block {
    background-color: #cf0410;
}
.j-block {
    background-color: #0404dd;
}
.l-block {
    background-color: #ea9d05;
}

#content {
    background-color: #D9D9D9;
    height: 90vh;
    width: 70vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-display {
    background-color: #353535;
    width: 250px;
    height: 500px;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
}